<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collections Index</title>
</head>

<body>
    <h1>All Collections Page</h1>
    <% for (let i=0; i < collections.length; i++) { %>

        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="/collections/<%= collections[i]._id %>">
                            <%= collections[i].title %>
                        </a>
                    </h4>
                    <p>
                        <%= collections[i].description %>
                    </p>
                    <p>
                        <%= collections[i].games.length %>
                    </p>
                    <% if (collections[i].games.length > 0) { %>
                        <p>
                            <%= collections[i].games.name %>
                        </p>
                    <% } %>
                </div>
            </div>
        </div>

        <% } %>

</body>

</html>