<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Collection Show Page</title>
</head>

<body>
    <h1>Single Collection Page</h1>
    <a href="/collections">Back</a>
    <div>
        <h3><%= collection.title %></h3>
        <p><%= collection.description %></p>
        <% if (collection.games.length > 0) { %>
            <% for (let i=0; i < games.length; i++) { %>
                <h3><%= games[i].name %></h3>
                <form action="/collections/<%=collection._id%>/<%=games[i].id%>?_method=DELETE" method="POST">
                    <input type="submit" value="delete this game">
                </form>
            <% } %> 
        <% } %>
    </div>
    <div>
        <form method="POST" action="/collections/<%=collection._id%>?_method=DELETE">
            <input type="submit" value="delete this collection" >
        </form>
        <a href="/collections/<%=collection._id%>/edit">Edit this collection</a> <br/>   
        <a href="/collections/<%=collection._id%>/addgames">Add Games</a>  
    </div>

    <!-- BOOTSTRAP -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
</body>

</html>