<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collection Show Page</title>
</head>

<body>
    <h1>Single Collection Page</h1>
    <a href="/collections">Back</a>
    <div>
        <h3><%= collection.title %></h3>
        <p><%= collection.description %></p>
        <% if (collection.games.length > 0) { %>
            <% for (let i=0; i < games.length; i++) { %>
                <h3><%= games[i].name %></h3>
                <form action="/collections/<%=collection._id%>/<%=games[i].id%>?_method=DELETE" method="POST">
                    <input type="submit" value="delete this game">
                </form>
            <% } %> 
        <% } %>
    </div>
    <div>
        <form method="POST" action="/collections/<%=collection._id%>?_method=DELETE">
            <input type="submit" value="delete this collection" >
        </form>
        <a href="/collections/<%=collection._id%>/edit">Edit this collection</a> <br/>   
        <a href="/collections/<%=collection._id%>/addgames">Add Games</a>  
    </div>
</body>

</html>